.btn-hero,
.btn-header-primary,
.btn-header-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 8px;
}

.btn-header-primary {
  padding: 1.6rem 2.4rem;
}

.btn-hero {
  padding: 2rem;
}

.btn-hero,
.btn-header-primary {
  background-color: #4f9cf9;
  color: #fff;
}

.btn-header-secondary {
  background-color: #ffe492;
  padding: 1.6rem 4rem;
  color: #043873;
}

.nav-icon {
  height: 1.6rem;
  width: 1.6rem;
}
