/* HEADER */
.header {
  background-color: #043873;
  padding: 2.4rem 0;
}

.nav-logo {
  height: 3.2rem;
}

.main-nav-list,
.cta-nav-list {
  font-size: 1.6rem;
  list-style: none;
  color: #fff;
}

/* HERO SECTION */
.section-hero {
  background-color: #043873;
  background-image: url("../img/svgs/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center;
}

.hero-text-box,
.product-text-box {
  align-self: center;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 6rem;
  color: #fff;
}

.hero-img-box,
.product-image-box {
  overflow: hidden;
}

.hero-img,
.product-img {
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
}

.hero-img:hover,
.product-img:hover {
  transform: scale(1.2);
}

/* PRODUCT SECTION */
.section-product {
  background-image: url("../img/svgs/product-background.svg");
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}

.product-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.underline-img {
  position: absolute;
  top: 42%;
  z-index: -999;
}
